:root {
  /* ===== COLORS ===== */
  --brand-primary: #9D0759;
  
  --text-primary: #333;
  --lightgrey-color: #e6dbdb;
  --grey-color: #a09d9d;
  --white: #fff;

  /* ===== RADIUS ===== */
 
  --radius-md: 10px;
  --radius-lg: 14px;
 

  /* ===== SHADOWS ===== */
  --shadow-btn:  0 4px 10px rgba(255, 59, 107, 0.3);
  --shadow-btn-hover: 0 6px 15px rgba(255, 59, 107, 0.4);
  --shadow: 0 10px 25px rgba(0,0,0,0.25);


 
}
