.modal-overlay {
  position: fixed;
  inset: 0;               /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: var(--white);
  max-width: 700px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;

  padding: 20px;
  border-radius: 12px;
}
