.digital-menu-display{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}



.digital-menu-display > div{
   flex:1;
   padding: 1rem;
}


.cards-container{
    display: flex;
    gap: 1rem;
   
}
.menu-cards{
    display: flex;
    flex-direction: column;
    gap: .50rem;
}

.menu-card{
 width: 80px;

}

.menu-name{
    font-size: 1rem;
}

.menu-image{
width: 100%;
height: 60%;
object-fit: cover;
}

.digital-menu-cards{
    display: flex;
    gap: .50rem;
    margin-top: 1rem;
}



.center-column{
    border-left: 5px solid violet;
    border-right: 5px solid violet;
}
